#mainNav .navbar-brand {
  color: white;
  font-family: Roboto Slab,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #461660;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #461660;
}

#gddc-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-text a {
  color: black;
  text-decoration: underline;
}

.card a {
  color: black;
  text-decoration: underline;
}

.iframe #googleForm {
  margin: auto;
}

div #googleForm {
  margin: auto;
}

#googleForm {
  /*margin: auto;*/
  text-align: center;
}

#teamLogo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 15%;
}

#ApplicationCollapse {
  text-align: center;
}

